$btnGuardar: #174781;
$btnEliminar: #fe5314;
$btnCancelar: #1056ff;
$seleccion: #ffc799;

$grisPrincipal: rgb(70, 70, 70);
$grisClaro: rgb(228, 228, 228);
$cabecera: #174781;

/* archivo con _ en el nombre para que no se compile */